.questionBox {
  .questions {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    background-color: rgba(236, 236, 236, 0.452);
  }
}
