.questionBox {
  .questions {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    color: white;
    background-color: rgb(0, 0, 0);
  }
  .answers {
    .answerBtn {
      margin: 0.3rem 0.2rem;
      border-radius: 3px;
      border: 1px solid black;
      background-color: rgb(255, 255, 255);
      padding: 0.2rem 0.4rem;
      display: inline-block;
      align-items: center;
      &:hover {
        background-color: firebrick;
        transition: 0.3s;
        color: white;
        border: 1px solid rgb(255, 255, 255);
      }
    }
  }
}
