body {
  .App {
    margin-top: 0.5rem;
    overflow: hidden;
    .QuizeSec {
      position: fixed;
      left: 50%;
      top: 20%;
      box-sizing: border-box;
      border-radius: 5px;
      border: none;
      transform: translate(-50%, -8%);
      justify-content: center;
      width: 500px;
      height: 450px;
      background: rgb(255, 255, 255);
      border: 1px solid black;
      .HeaderPage {
        margin: 0.1rem;
        background: rgb(6, 112, 126);
        height: 3rem;
        color: white;
        padding-top: 0.3rem;
        justify-content: center;
        vertical-align: middle;
        text-align: center;
        border-radius: 5px 5px 0 0;
        h4 {
          background: transparent;
        }
      }
    }
  }
}
