body {
  .App {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      background: transparent;
      color: black;
    }
    margin-top: 0.5rem;
    overflow: hidden;
    .QuizeSec {
      position: fixed;
      left: 50%;
      top: 20%;
      box-sizing: border-box;
      border-radius: 5px;
      border: none;
      transform: translate(-50%, -8%);
      justify-content: center;
      width: 500px;
      height: auto;
      background: rgb(255, 255, 255);
      border: 1px solid black;
      .HeaderPage {
        margin: 0.1rem;
        background: rgb(6, 112, 126);
        height: 3rem;
        color: white;
        padding-top: 0.3rem;
        justify-content: center;
        vertical-align: middle;
        text-align: center;
        border-radius: 5px 5px 0 0;
        h4 {
          background: transparent;
        }
      }
    }
    .questionsSec {
      h6 {
        margin: 0.5rem 0;
        margin-left: 0.4rem;
      }
    }
  }
}
